/* 主#4F726C 字#343a40  */

html {
    scrollbar-width: thin;
}

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.music {
    width: 80%;
    height: 70vh;
}

::-webkit-scrollbar {width: 5px;}